
/** 

	hospitalMap.css
	
**/


.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'�룍��',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:70%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
	.hospitalMap_hole{
		margin-top: 50px;
		
	}
	.map_wrap{
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left: auto; 
		margin-right: auto;
		border:2px solid #ffc71d;
	}
	#map{
		width:100%;
		height:100%;
		position:relative;
		overflow:hidden;
	}
	.hospitalMap_title{
		float: none;
	    width: 100%;
	    text-align: center;
	    margin: 0;
	    font-size: 40px;
	    text-transform: uppercase;
	    font-weight: 500;
	    padding: 30px 0 60px;
	    position: relative;
	    letter-spacing: 0;
	    color: #000000;
	    position: relative;
	}
	
	
/**
	wonder.css
**/


	*{
		padding:0px;
	}
	.mainimg{
		width:100px;
		heigh:100px;
	}
	.wonderContentBox{
	
		border:1px solid blue;
		width:100%;
		height:900px;
	}
	.wonderContentTable{
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left: auto; 
		margin-right: auto;
		width: 60%;
		height:auto;
	}
	
	.wonder_title{
		
		float: none;
	    width: 100%;
	    text-align: center;
	    margin: 0;
	    font-size: 40px;
	    text-transform: uppercase;
	    font-weight: 500;
	    padding: 30px 0 60px;
	    position: relative;
	    letter-spacing: 0;
	    color: #000000;
	    position: relative;
	}
	
	.search_hole{
		margin: 30px 0 30px 0;
	    padding: 10px 10px 10px 10px;
	    border-top: 1px solid #e8e8e8;
	    border-bottom: 1px solid #e8e8e8;
	    background: #f7f7f7;
	    text-align: center;
	}
	
	.search_hole > span {
		display:inline-block;
	}
	.wonderTable, tr, th, td{
		border-collapse: collapse;
		font-size: 15px;
	}
	
	.wonderTable td{
		padding :15px 10px 15px 10px;
	}
	
	table.wonderTable > tbody > tr:nth-child(1) > th:nth-child(1){
	    width: 150px;
	    height: 100px;
	    text-align: center;
	}
	table.wonderTable > tbody > tr:nth-child(1) > th:nth-child(2){
		height:100px;
		width: 600px;
	}
	table.wonderTable > tbody > tr:nth-child(1) > th:nth-child(3){
		width: 200px;
	}
	table.wonderTable > tbody > tr:nth-child(1) > th:nth-child(4){
		width: 200px;
	}
	table.wonderTable > tbody > tr:nth-child(1) > th:nth-child(5){
		width: 80px;
	}
	table.wonderTable > tbody > tr > td:nth-child(1),
	table.wonderTable > tbody > tr > td:nth-child(3),
	table.wonderTable > tbody > tr > td:nth-child(4),
	table.wonderTable > tbody > tr > td:nth-child(5)
	{
		text-align: center;
	}
	table.wonderTable > tbody > tr > td:nth-child(2){
		padding-left:50px;
	}
	
	#ampaginationsm{
		text-align:center;
	}
	.wonderSearchBtn{
	    height: 30px;
	    line-height: 30px;
	    width: 80px;
	    text-align: center;
	    font-weight: 600;
	    border: 1px solid #E0E0E0;
	    margin-right: 7px;
	    font-size: 13px;
	    background: #FFF;
	    margin-left:10px;
	}
	.wonderListBtn, .wonderWriteBtn{
		float:right;
	    height: 30px;
	    line-height: 30px;
	    width: 80px;
	    text-align: center;
	    font-weight: 600;
	    border: 1px solid #E0E0E0;
	    margin-right: 7px;
	    font-size: 13px;
	    background: #FFF;
	}
	
	table.wonderTable > tbody > tr:nth-child(1){
		border-top: 2px solid black;
		background: #fbfbfb;
	}
	
	table.wonderTable > tbody > tr{
		border-top: 1px solid #dbdbdb;
		border-bottom: 1px solid #dbdbdb;
	}
	
	.btndiv{
		padding:10px;
	}
	
	
	
	
/**

	wonderDetail.jsp

**/

		
	.wonderDetailContentBox{
		width:100%;
	}
	.wonderDetail_hole{
	}
	
	.question_back{
		background-color: white;
		
	}
	.question_content{
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left: auto; 
		margin-right: auto;
		width: 50%;
	}
	.question_icon{
		width: 9.5%;
		height:80px;
		font-size: 40pt;
		text-align: center;
		float:left;
	}
	.question_title{
		float:left;
		height:80px;
		width:90%;
	}
	.question_title_content{
		float:left;	
		font-size: 15pt;
		margin: 30px 0px 10px 10px;
	}
	.question_content_first{
		height: 80px;
	}
	.question_content_second{
		margin:20px 20px 20px 30px;
	}
	.question_content_third{
		margin:20px 20px 20px 30px;
	}
	.questionBtn, .wonderDelBtn, .wonderUpdBtn{
		float:right;
	}
	
	.answerDelBtn, .answerUpdBtn{
		float:right;
	}
	
	div.question_comment_space{
		margin-left:50px;
		width:90%;
		
	}
	.question_comment_write_area{
		width:90%;
	}
	
	
	.answer_content_write{
		background-color:white;
		margin-bottom: 50px;
		margin-left: auto; 
		margin-right: auto;
		width: 50%;
		border:1px solid #ffc71d;
	}
	.my_answer_editor{
		margin:20px 20px 20px 30px;
		text-align: center;
	}
	.answerWriteBoardBtn{
		display:inline-block;
	}
	
	.answer_title_side{
		display: block;
		font-size: 20pt;
		padding-top:15px;
		padding-bottom:15px;
	}
	
	.answer_back{
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: rgb(244,244,244);
		
	}
	.answer_content{
		border:1px solid gray;
		background-color:white;
		margin-top: 50px;
		padding-bottom: 20px;
		margin-bottom: 50px;
		margin-left: auto; 
		margin-right: auto;
		width: 50%;
	}
	.answer_icon{
		width: 9.5%;
		height:80px;
		font-size: 40pt;
		text-align: center;
		display:inline-block;
	}
	.answer_title{
		float:left;
		height:80px;
		width:90%;
	}
	.answer_title_content{
		font-size: 15pt;
		margin: 30px 0px 10px 10px;
		display: inline-block;
	}
	.answer_content_first{
		height: 80px;
	}
	.answer_content_second{
		margin:20px 20px 20px 30px;
	}
	.answer_content_third{
		margin:20px 20px 20px 30px;
	}
	.answerBtn{
		float:right;
	}
	
	div.answer_comment_space{
		margin-left:50px;
		width:90%;
		
	}
	.answer_comment_write_area{
		width:90%;
	}