
a{
   text-decoration: none;
}  
div#content {         
   text-align: center;
   margin-bottom: 0px;
   margin: auto;
}

div#container>img{   
   height: 170px;
   width: 100%;  
   margin-bottom: 60px; 
   

}
.plan_tab {
    width: 100%;
    overflow: hidden;
    clear: both;
    margin-bottom: 28px;
}
.plan_tab a {		/* 강아지 | 고양이  */
    float: left;
    width: 50%;
    height: 56px;
    line-height: 54px;
    background: #f7f9fd;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #3c465e;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #d8dce5;
    border-width: 1px 1px 1px 0;
    }
    
a.cat_btn{
background: #373536;
    border-color: #373536;
    color: #fff;
    font-weight: 400;
}

.main_goods_cont{
	width: 1200px;
    position: relative;
    margin: 0 auto;
    text-decoration: none;
}

.main_goods_tab ul li a {
	/* border: 1px solid blue; */
    display: block;
    height: 47px;
    /* width: 380px; */
    line-height: 45px;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #838383;
    letter-spacing: -1px;
    text-decoration: none;
   /*  margin-left:-10px; */
    
}

.main_goods_tab {
    width: 100%;
    margin-bottom: 38px;
    border-top: 2px solid #170709;
    border-bottom: 1px solid #a1a3ae;
    
}
.main_goods_tab ul li a span {
    display: inline-block;
    vertical-align: top;
    height: 47px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 300;
    color: #838383;
}

dl, ul, ol, li {
list-style: none;
}

.main_goods_tab ul li.on a {	/* 카테고리 선택시 */
    background-color: #ffc71d;
    width: 610px;
}


.main_goods_tab ul li.icon2,
.main_goods_tab ul li.icon3{
	width: 610px;
    margin-left: -10px;
}
.main_goods_tab ul li{
	float:left;
}
.main_goods_tab ul {
    width: 100%;
    overflow: hidden;
    clear: both;
    margin:0px 80px 0px -30px;
}


/********* vet5 css *********/

div.feed>ul{
	/* border: 2px solid blue; */
	margin: 0 auto;
}

.feed ul li {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e2e2e2;
    width: 1100px;
    height: 1000px;
    margin: 0 auto;
    margin-top:30px;
 	margin-left:8px;
    margin-bottom:50px;
}

div.feed>ul>h1{
 	font-family:"나눔고딕";
	/* border:1px solid #ccc; */
	border-radius: 20px;
	text-align: center;
    font-size:22px;
	/* padding:10px; */
	width:300px;
	height:20px;
	margin-left: 400px;	
	color:#464646; 
}

div.feed>ul>P{
	text-align:center;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size:20px;
}

div.feed_tit>h3{	/*기본정보입력 글씨  */
	text-align:center;
	color: #8c8c8c;
	font-size:27px;
	margin-top:50px;
	margin-bottom:45px;
	
}
div.feed_tit>p{
	border:1px solid black;
	width:100px;
	text-align:center;
}

label.feed_tit_ {		/* 기본정보, 반려견 식사정보 라벨 */
	/* border:2px solid blue;  */
	border-radius: 20px;
	display: block;
	margin-bottom: 8px;
	margin-top: 30px;
	color: black;
	font-size: 15px;
	margin-left: 250px; 
	width:160px;
	padding:15px; 
	text-align:center; 
    background:#ccc
}
label.feed_tit_:nth-child(3){
	margin-top: 18px;
}



div.birth,
div.weight{		/* 기본정보 입력칸 */
	border-bottom: 2px solid #ccc;
	margin-top: -45px;
	margin-left: 480px;
	width: 250px;
	height:30px;
}

button#btnResult.feed-resert{	/* 결과보기 버튼 */
	border:1px solid #ffc71d;
	background:#ffc71d;
	margin-left: 486px;
	width:150px;
	height:50px;
	border-radius: 4px;
	font-size:18px;
	margin-top:80px;
	cursor: pointer;
}

div.weight > input{	/* 몸무게  적는칸  */
	/* border: 2px solid green; */
	color: #666;
	width:200px;
	border:0;
	/* margin-left:-18px; */
	margin-top: 3px;
	text-align:center;

}
input.input.birth{	/* 생년월일 적는칸  */
	border: 2px solid green;
	border:0;
	margin-left:38px;
	margin-top: -20px;
	text-align:center;
}

div.birth > img{		/* 달력 사진  */
	/* border: 2px solid red; */
	width:30px;
	height:30px;
	margin-left: 210px;
	margin-top:-30px;
	cursor: pointer;
}

#datepicker{
	border: 0;
	margin-left:-4px;
	color: #666;
	text-align: center;
	cursor: pointer;
	
}
div.weight>span{		/* kg */
    display: inline-block;
    text-align: right;
    font-size: 16px;
    line-height: 30px;
    margin-top:-25px;
    margin-left:210px;
}

div.operation,		/*라디오 버튼  */
div.gender,
div.activity,
div.pregnant{			
	/* border: 3px solid red; */
	width: 300px;
	margin-left: 480px;
	margin-top: -35px;
}
div.kcalTitle>h3{
    text-align: center;
    color: #8c8c8c;
    font-size: 27px;
    margin-top:70px;
    margin-bottom: 45px;
}

div.meet,
div.allergy,
div.mouthfeel,
div.product{
	/* border:2px solid red; */
	margin-left: 480px;
	margin-top:-40px;
}

select {
    padding: 0 0 0 25px;
    color: #666;
    font-size: 15px;
    margin-left: 480px;
    margin-top: -45px;    
    width: 250px;
    height: 30px;
    border: 0;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}
    
